<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to The World Wide Web, <%= @user.name %></h1>
    <p>
      You have successfully signed up to this demo site,
      your username is: <%= @user.name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
      Here, have this: <%= link_to "Contact Form", root_url + 'contact' + '/' + @hash %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
